@import '../../../../../assets/css/variables';

.search {
  margin-left: 100px;
  @include center-content();
}

.search-container{
  margin-top: -5px;
  align-items: center;
  display: flex;
}

.categories-input,
.categories-select {
  height: 50px;
  padding: 0 10px;
  background: $white-color;
  border: 1px solid $light-gray-color;
  z-index: 10;
}

.categories-input {
  width: 25vw;
  //margin-left: 250px;
}

.categories-select {
  @include box(150px, 52px);
}

.categories-option {
  @include box(150px, 50px);
}
