<div class="item-details">
  <div class="more-description">
    <h3>{{ certificate.name }}</h3>
    <p>{{ certificate.description }}</p>
    <div class="time-left">Time Left To Buy</div>
    <div
      class="time">{{ certificate.duration }}
      {{ certificate.duration > 1 ? 'days' : 'day' }}</div>
    <div class="cart">
      <p class="price" *ngIf="rates && rates[index]">
        {{ certificate.price | exchange: rates[index].value | currency:
        rates[index].currency: 'symbol-narrow' }}
      </p>
      <div class="link-card">
        <a [routerLink]="['/checkout']" class="add-to-cart"
           (click)="!certificate.checkout && addToCart()">
          {{ certificate.checkout ? 'Go to Cart' : 'Add to Cart' }}
        </a>

        <span class="material-symbols-outlined add-icon"
              (click)="addToCart()">
              {{ certificate.checkout ? 'remove_shopping_cart' : 'shopping_cart' }}
      </span>
      </div>
    </div>
    <div class="container">
      <ul class="tags" *ngFor="let tag of certificate.tags; let i = index"
          [ngClass]="{'red': i % 3 === 0, 'green': i % 3 === 1, 'blue': i % 3 === 2}">
        <li>
          <a [routerLink]="['/']"
             (click)="service.findByTagName(tag.name)"
          >
            {{tag.name}}
            <span>{{service.countCertificatesByTag(tag.name)}}
        </span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
