.exchange {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.exchange-price {
  margin-top: 3px;
  margin-left: -10px;
  width: 30px;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.5s, box-shadow 0.3s;
  transition-delay: 0.1s, 0.1s, 0.1s, 0.1s;
}

.exchange-price:hover {
  transform: scale(1.1);
  transition-delay: 0s, 0s, 0s, 0s;
}

.exchange-price:not(:hover) {
  transform: scale(0.9);
  transition-delay: 0s, 0s, 0s, 0s;
}

.arrow-left {
  margin-top: 6px;
}

.arrow-right {
  margin-top: 6px;
}
